.header{
    padding: 24px 30px;
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container__nav{

}

.header-container__nav .nav-container{
    display: flex;
    gap: 24px;
}

.nav-container__item{
    list-style: none;
}

.nav-container__item a{
    text-decoration: none;
    color: var(--just-white);
}