.item-count{

}

.item-count__container{
    display: flex;
    align-items: center;
}

.container__qty{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--just-white);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
}